{% extends "base.html" %}
{% block content %}

<div class="flex justify-between mb-6">
    <h1 class="text-3xl font-bold">
        Contacts
    </h1>

    <a href="{% url 'contact_create' %}"
    class="bg-blue-600 text-white px-4 py-2 rounded">
        Add Contact

    </a>

</div>

{% for contact in contacts %}
<div class="bg-white p-4 rounded shadow mb-4">
    <h2 class="font-semibold">
        {{ contact.first_name }}
        {{ contact.last_name }}
    </h2>
    <p>{{ contact.email }}</p>
    <a href="{% url 'contact_detail' contact.pk %}"
    class="text-blue-600 font-bold mt-5">
        View
    </a>

</div>
{% empty %}
<p>No contacts yet.</p>
{% endfor %}
{% endblock %}