{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="py-20 bg-white">
    <div class="max-w-6xl mx-auto px-4 text-center">
        <h2 class="text-3xl md:text-4xl font-bold text-gray-800 mb-4">Solutions</h2>
        <p class="text=gray-600 text-lh mb=12">Some of the work and tools we've built.</p>
        <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">

            <div class="bg-gray-50 p-4 rounded-xl shadow hover:shadow-md transition">
                <img src="{% static 'images/dashboard.png' %}" alt="CRM dashboard" class="w-full
        max-w-sm mx-auto rounded-xl shadow">

                <h3 class="text-xl font-semibold text-gray-800">Client Portal CRM</h3>
                <p class="text-gray-600 text-sm mt-2">
                    A full-stack CRM app with user roles, tasks,
                    Messaging, and invoicing built in Django + Tailwind CSS.
                </p>
            </div>

            <div class="bg-gray-50 p-4 rounded-xl shadow hover:shadow-md transition">
                <img src="{% static 'images/dashboard.png' %}" alt="CRM dashboard" class="w-full
        max-w-sm mx-auto rounded-xl shadow">
                <h3 class="text-xl font-semibold text-gray-800">Freelancer Portfolio</h3>
                <p class="text-gray-600 text-sm mt-2">
                    Personal portfolio website showing my services, contact form, and testimonials.
                </p>
            </div>

            <div class="bg-gray-50 p-4 rounded-xl shadow hover:shadow-md transition">
                <img src="{% static 'images/dashboard.png' %}" alt="CRM dashboard" class="w-full
        max-w-sm mx-auto rounded-xl shadow">

                <h3 class="text-xl font-semibold text-gray-800">API-Ready Backend</h3>
                <p class="text-gray-600 text-sm mt-2">
                    Resful backend with Django Rest Framework to power real-world application
                </p>

            </div>

        </div>

    </div>

</section>


<section class="py-16 bg-gray-50 mt-4">
    <div class="max-w-6xl mx-auto px-4 text-center">
        <h2 class="text-3xl md:text-4xl font-bold
        text-gray-800 mb-6">Features That power Productivity</h2>
        <p class="text-gray-600 mb-12 text-lg">
            Everything you need to manage your freelance 
            clients or agency workflow-all in one place.
        </p>
        <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-4 text-left">
            <div class="bg-white p-6 rounded-lg shadow hover:shadow-lg transition">
                <div class="text-blue-600 text-3xl mb-4">📁</div>
                <h3 class=" text-xl font-semibold mb-2">Project Management</h3>
                <p class="text-gray-600 text-sm">Create, track, and Organize all your
                    projects with timelines, tasks, and client assignments.
                </p>
            </div>

            <div class="bg-white p-6 rounded-lg shadow hover:shadow-lg transition">
                <div class="text-green-600 text-3xl mb-4">✅</div>
                <h3 class="text-xl font-semibold mb-2">Task Tracking</h3>
                <p class="text-gray-600 text-sm">Stay on top of
                    deliverables and mark tasks as complete with assigned responsibilities
                </p>
            </div>

                <div class="bg-white p-6 rounded-lg shadow hover:shadow-lg transition">
                    <div class="text-purple-600 text-3xl mb-4">💬</div>
                    <h3 class="text-xl font-semibold mb-2">Client Messaging</h3>
                    <p class="text-gray-600 text-sm">
                        Communicate with clients per project,all
                        inside your dashboard-no messy emails.
                    </p>
                </div>

                <div class="bg-white p-6 rounded-lg shadow hover:shadow-lg transition">
                    <div class="text-yellow-600 text-3xl mb-4">💵</div>
                    <h3 class="text-xl font-semibold mb-2">Invoice & Payments</h3>
                    <p class="text-gray-600 text-sm">
                        Send invoices, track status, and collect payments via paypal
                        or stripe intergration.
                    </p>
                </div>

            

        </div>

    </div>

</section>

 <!-- Call to Action -->
    <div class="text-center">
      <h2 class="text-3xl font-bold text-gray-900 mb-6">
        Ready to grow your business with <span class="text-blue-600">Tuzmore</span>?
      </h2>
      <a href="{% url 'register' %}" 
        class="inline-block px-8 py-4 rounded-xl bg-blue-600 text-white text-lg font-semibold shadow-lg hover:bg-blue-700 hover:scale-105 transform transition">
        🚀 Get Started Today
      </a>
    </div>


{% endblock %}