{% extends "base.html" %}
{% block content %}

<h1 class="text-3xl font-bold">
    {{ company.name }}
</h1>

<p>{{ company.email }}</p>
<p>{{ company.phone }}</p>
<p>{{ company.website }}</p>
<p>{{ company.industry }}</p>
<p>{{ company.address }}</p>

<a href="{% url 'company_update' company.pk %}"
    class="bg-blue-600 text-white px-4 py-2  rounded">
    Edit
</a>

<a href="{% url 'company_delete' company.pk %}"
    class="bg-red-500 text-white px-4 py-2 rounded">
    Delete
</a>


{% endblock %}