{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tuzmore CRM</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body class="bg-gray-100">
    {% if user.is_authenticated %}

    {% include "partials/sidebar.html" %}
    <div class="ml-64 min-h-screen">
        {% include "partials/navbar.html" %}

        <main class="p-8">
            {% block content %}
            {% endblock %}
        </main>
        {% include "partials/footer.html" %}

    </div>

    {% else %}
        {% block auth_content %}
        {% endblock %}
    {% endif %}


</body>
</html>